# Ignore compiled iPython checkpoint
.ipynb_checkpoints/

# Ignore csv files
*.csv

*.pkl


# ignore DS_store 
.DS_Store
icd_map/.DS_Store

# Ignore IDE-specific files (e.g., VS Code)


#Ignore OS-specific files (e.g., macOS)


# Ignore node_modules for Node.js projects
        
